body {
    background-color: #000;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}

h1 {
    color: #fff;
}

.sidebar {
    position: fixed; 
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
   
    
}


.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo {
    display: flex;
    background: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0 ;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM-Sans", sans-serif;
    }

.library {
    margin-top: 10px;
    border-radius: 8px;
    background-color: #121212;
    padding: 16px 16px 0 16px;
    color: aliceblue; /*deixar dessa cor por enquanto*/
    
}

.library__content {
    display: flex;
    justify-content: space-between;
    padding: 16px 8px;   
}

button { /*resetando os botões*/
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer; 
}

.library__button {
    color: #b3b3b3;
    font-weight: 600;
    font-size: 18px;
    font-family: "DM-Sans", sans-serif;  
}

.section-playlist {
    background-color: #242424;
    margin: 8px 0;
    padding: 16px 8px;
    border-radius: 8px;
    
}

.section-playlist__title {
    padding-bottom: 14px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM-Sans", sans-serif;
}

.section-playlist__subtitle {
    padding-bottom: 14px;
    color: #fff;
    font-weight: 500;
    font-size: 0.8rem;
    font-family: "DM-Sans", sans-serif;
}

.section-playlist__button {
    background-color: #ffffff;
    color: #000;
    padding: 10px;
    border-radius: 16px;
    margin-top: 14px;
    font-weight: 600;
    font-size: 12px;
    font-family: "DM-Sans", sans-serif;
    width: 113px;
}

.cookies {
   margin: 25px 20px; 
}
.cookies a {
text-decoration: none;
color: #b3b3b3;
font-weight: 500;
font-size: 0.7rem;
font-family: "DM-Sans", sans-serif;
}

.languages__button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    border-radius: 16px;
    margin: 16px 8px;
    font-weight: 600;
    font-size: 12px;
    font-family: "DM-Sans", sans-serif;
    width: 170px;
}

.footer {
    display: flex;
    background: linear-gradient(to right, #ae2896, #509bf5);
    position: fixed; 
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px 40px;
    justify-content: space-between;
}

.footer__container {
    color: #fff;
    font-family: "DM-Sans", sans-serif;
}

.footer__title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}

.footer__subtitle {
    font-weight: 500;
    font-size: 14px;
}

 .button {
    background-color: #ffffff;
    color: #000000;
    padding: 14px 30px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 16px;
    width: 196px;
}